<header class="flex">
  <img alt="Nx logo" width="75" src="https://nx.dev/assets/images/nx-logo-white.svg" />
  <h1>Electron + Nx</h1>
</header>
<main>
  <ul class="resources">
    <li class="col-span-2">Node {{ versions.node }}</li>
    <li class="col-span-2">Chrome {{ versions.chrome }}</li>
    <li class="col-span-2">Electron {{ versions.electron }}</li>
  </ul>

  <h2>Next Steps</h2>
  <p>Here are some things you can do with Nx.</p>

  <details open>
    <summary>Add UI library</summary>
    <pre>
      # Generate UI lib
      yarn ng g @nrwl/angular:lib ui

      # Add a component
      yarn ng g @nrwl/angular:component xyz --project ui
    </pre>
  </details>

  <details>
    <summary>View dependency graph</summary>
    <pre>
      yarn dep-graph
    </pre>
  </details>

  <details>
    <summary>Run affected commands</summary>
    <pre>
      # see what's been affected by changes
      yarn affected:dep-graph

      # run tests for current changes
      yarn affected:test

      # run e2e tests for current changes
      yarn affected:e2e
    </pre>
  </details>
</main>

<router-outlet></router-outlet>
